sample.json
[
  {
    "id": "3f30af8e.a3db8",
    "type": "inject",
    "z": "639cfd7b.3072d4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 60,
    "wires": [
      [
        "dd30f997.d9aa88"
      ]
    ]
  },
  {
    "id": "e8ad654f.9dcb78",
    "type": "googlenews",
    "z": "639cfd7b.3072d4",
    "api": "search",
    "keyword": "2021-02-08 삼성전자",
    "locale": "ko-KR",
    "name": "google news",
    "x": 550,
    "y": 60,
    "wires": [
      [
        "c4fbe9cf.56fb18"
      ]
    ]
  },
  {
    "id": "dd30f997.d9aa88",
    "type": "function",
    "z": "639cfd7b.3072d4",
    "name": "",
    "func": "// msg = {};\n// msg.api = 'search';\n// msg.keyword = '삼성전자';\n// msg.locale = 'ko-KR';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 360,
    "y": 60,
    "wires": [
      [
        "e8ad654f.9dcb78"
      ]
    ]
  },
  {
    "id": "c4fbe9cf.56fb18",
    "type": "debug",
    "z": "639cfd7b.3072d4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 60,
    "wires": []
  }
]
